*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // We define 1rem as 10px
  font-size: 62.5%; // 62.5% of 16px = 10px
}

body {
  padding: 3rem;
  box-sizing: border-box;
}
